---
import * as heroContent from "../../../static-content/home/hero.md";
---

<script>
  import { createTimeline, fadeInAndSlideIn } from "@/helper/gsap";

  const tl1 = createTimeline("#text-1");
  const tl2 = createTimeline("#text-1");
  const tl3 = createTimeline("#text-1");
  const tl4 = createTimeline("#text-1");

  tl1.add(fadeInAndSlideIn("#text-1", 150));
  tl2.add(fadeInAndSlideIn("#text-2", 200));
  tl3.add(fadeInAndSlideIn("#text-3", 350));
  tl4.add(fadeInAndSlideIn("#text-4", 450));
  tl4.add(fadeInAndSlideIn("#contact-linkedin-button", 100));
</script>

<header
  id="hero"
  class="main-section flex min-h-[93vh] w-full items-center px-6"
>
  <div class="mx-auto h-auto max-w-[60rem] text-left">
    <h6 id="text-1" class="mb-3 text-h6 text-green opacity-80">
      <pre>{heroContent.frontmatter.title} </pre>
    </h6>
    <h1 id="text-2" class="text-h-huge font-bold text-white">
      {heroContent.frontmatter.name}
    </h1>
    <h2
      id="text-3"
      class="mb-6 font-sans text-h-huge font-bold text-light-slate"
    >
      {heroContent.frontmatter.subtitle}
    </h2>
    <p id="text-4" class="max-w-[38rem] text-b-2 text-slate">
      {heroContent.frontmatter.description}
    </p>
    <a
      href={heroContent.frontmatter.actionLink}
      rel="noreferrer"
      id="contact-linkedin-button"
      target="_blank"
      class="f mt-12 block max-w-max cursor-pointer rounded-sm border border-green px-6 py-2 text-b-2 font-light text-green"
    >
      {heroContent.frontmatter.actionText}
    </a>
  </div>
</header>
